@model Proyecto.GUI.Models.AddVehicule

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Está seguro que desea eliminar este vehículo?</h3>
<div>
    <h4>Vehículo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Placa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            Modelo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VModelo)
        </dd>


        <dt>
            Mecánico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VMecanico)
        </dd>


        <dt>
            Proveedor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VProveedor)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> 
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
