@model IEnumerable<Proyecto.GUI.Models.AddVehicule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Número de Placa
        </th>
        <th>
            Modelo
        </th>
        <th>
            Mecánico
        </th>
        <th>
            Proveedor
        </th>
        <th>
            Precio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VModelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VMecanico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
