@model IEnumerable<Proyecto.GUI.Models.AddVehicule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                Número de Placa
            </th>
            <th scope="col">
                Modelo
            </th>
            <th scope="col">
                Mecánico
            </th>
            <th scope="col">
                Proveedor
            </th>
            <th scope="col">
                Precio
            </th>
            <th scope="col"></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VModelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VMecanico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
