@model Proyecto.GUI.Models.Cliente
@{
    ViewBag.Title = "Inicio de Sesión";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<br /><br />
<h2>Inicio de Sesión</h2>

@using (Html.BeginForm("VerificarUsuario", "Cliente"))
{
    <div class="form-horizontal">

        <style>
            .loginBox {
                -webkit-border-radius: 10px 10px 10px 10px;
                border-radius: 10px 10px 10px 10px;
                background-color: rgba(0, 0, 0, 0.5);
                color: rgba(0, 0, 0, 0.5);
                padding: 10px;
                width: 50%;
                color: #ffffff;
            }
        </style>

        <script>
        var Messages = '@ViewBag.ValMessages';
        if (Messages != null && Messages != "")
            alert(Messages);
        </script>

        <div class="loginBox">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" }, Type = "Email" })
                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Entrar" class="btn btn-default" />
                </div>
                <br />
                <div class=" form-horizontal col-md-offset-2 col-md-10">

                    <a href="/Cliente/Index" class="btn btn-secondary btn-sm">¿Olvidó su Contraseña?</a>

                    <a href="/Cliente/Create" class="btn btn-secondary btn-sm">Registrarse</a>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
