@model IEnumerable<Proyecto.GUI.Models.Cliente>

@{
    ViewBag.Title = "MostrarUsuarios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Mostrar Usuarios</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            Correo Electrónico
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                <button class="btn btn-light" onclick="location.href='@Url.Action("Edit", "Cliente", new { id = item.Cedula })'">Editar</button>
                <button class="btn btn-light" onclick="location.href='@Url.Action("Details", "Cliente", new { id = item.Cedula })'">Detalles</button>
                <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Cliente", new { id = item.Cedula })'">Eliminar</button>
            </td>
        </tr>
    }
</table>