@model Proyecto.GUI.Models.Empleado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cédula
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puesto)
        </dd>

        <dt>
            Correo Electrónico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver a la Lista", "Index")
</p>
