@{
    ViewBag.Title = "Ver Disponibles";

    IEnumerable<Proyecto.GUI.Models.Vehiculo> listaVehiculos = ViewData["Vehiculos"] as IEnumerable<Proyecto.GUI.Models.Vehiculo>;

    IEnumerable<Proyecto.GUI.Models.Modelo> listaModelos = ViewData["Modelos"] as IEnumerable<Proyecto.GUI.Models.Modelo>;

    IEnumerable<Proyecto.GUI.Models.Marca> listaMarcas = ViewData["Marcas"] as IEnumerable<Proyecto.GUI.Models.Marca>;

    IEnumerable<Proyecto.GUI.Models.Renta> listaRentas = ViewData["Rentas"] as IEnumerable<Proyecto.GUI.Models.Renta>;

    List<string> listaFechas = ViewData["Fechas"] as List<string>;
    string fechaEntr = String.Empty;
    string fechaDev = String.Empty;

    int i = 0;
    foreach (var item in listaFechas)
    {
        if (i == 0) { fechaEntr = item; } else { fechaDev = item; }
        i++; // agarra informacion de fechas
    }

    List<Proyecto.GUI.Models.Modelo> listaDisponibles = new List<Proyecto.GUI.Models.Modelo>();

    int rentasM;
    int vehiDisponibles;

    foreach (var mode in listaModelos)
    {
        vehiDisponibles = 0;
        rentasM = 0;
        foreach (var car in listaVehiculos)
        {
            rentasM = 0;
            if (car.IDModelo == mode.ID)
            {
                foreach (var rent in listaRentas)
                {
                    if (rent.IDVehiculo == car.ID)
                    {
                        if (
                            !(Convert.ToDateTime(fechaDev) < rent.FechaEntrega
                               ||
                               Convert.ToDateTime(fechaEntr) > rent.FechaDevolucion
                             )
                           )
                        {
                            rentasM++;
                        }
                    }
                }
                if (rentasM == 0)
                {
                    vehiDisponibles++;
                }
            }
        }
        if (vehiDisponibles > 0)
        {
            listaDisponibles.Add(mode);
        }
    }

    string estilo = "position: absolute; width: 75%; left: 12.5%; height:" + listaDisponibles.Count / 3 * 310 + "px";
}

<div style="position:fixed; width:100%; height:100%; left:0%; background-color:rgba(0, 0, 0,0.4); z-index:-1;"></div>

<h2 style="color:white;">Carros que puedes rentar:</h2>
<h4 style="color:white;">Esto dado que escogiste las fechas de entrega: @fechaEntr y de devolucion: @fechaDev</h4>
<br />

<div style="@estilo">
    @foreach (var modelo in listaDisponibles)
    {
        <div style="float: left; width:33%; height:300px; background-color: rgba(0, 0, 0,0.6);margin-right:10px;">
            <h3 style="text-align:center; color: white;"><b>@modelo.Descripcion</b></h3>
            <img src="@modelo.Imagen" style="position:relative; width:70%; height: 60%; left:15%; " />
            <div style="position:relative; top:2.5%; left:35%;">
                @Html.ActionLink("Ver detalles", "DetallesRenta", "Renta", new
                { idModelo = modelo.ID, idCliente = 1, fechaEntr = fechaEntr, fechaDev = fechaDev },
                                          htmlAttributes: new { @class = "btn btn-info btn-lg" })
            </div>
            <br />
        </div>
    }
</div>
