@model Proyecto.GUI.Models.Renta
@{
    ViewBag.Title = "RegistrarRenta";

    var vehiculo = ViewData["vehiculo"] as Proyecto.GUI.Models.Vehiculo;
    var modelo =ViewData["modelo"] as Proyecto.GUI.Models.Modelo;
    var fechaEntr = ViewData["fechaEntr"] as string;
    var fechaDev = ViewData["fechaDev"] as string;
    var transmision = ViewData["transmision"] as Proyecto.GUI.Models.Transmicion;
    var combustible = ViewData["combustible"] as Proyecto.GUI.Models.Combustible;
    var traccion = ViewData["traccion"] as Proyecto.GUI.Models.Traccion;
    var puertas = ViewData["puertas"] as Proyecto.GUI.Models.Puertas;
    var marca = ViewData["marca"] as Proyecto.GUI.Models.Marca;
    var estilo = ViewData["estilo"] as Proyecto.GUI.Models.Estilo;

    int subtot = vehiculo.Precio * (Convert.ToDateTime(fechaDev) - Convert.ToDateTime(fechaEntr)).Days;
}

<div style="position:fixed; width:100%; height:100%; left:0%; background-color:rgba(0, 0, 0,0.4); z-index:-1;"></div>

<h1 style="color:white; position:absolute; left:10%; top:10%;">Registrar renta</h1>

<div style="position:fixed; width:80%; height:68%; left:10%; top:17% ; background-color:rgba(0, 0, 0,0.6); z-index:-1;">
    <div id="imagen" style="position:absolute; top:5%; left: 2%; width: 40%; height: 90%;">
        <img src="@modelo.Imagen" style="position:relative; width:100%; height:100%;" />
    </div>
    <div id="divisor" style="position:absolute; top:4%; left: 45%; width: 0.25%; height: 92%; background:rgb(255,255,255);">
    </div>
    <div style="position:absolute; top:5%; left: 50%; width: 45%; height: 90%; color:white;">
        <h3> Marca: @marca.Nombre</h3>
        <h3>@modelo.Descripcion</h3>
        <h4> Estilo: @estilo.Descripcion</h4>
        <br />
        <h4> Transmision: @transmision.Descripcion </h4>
        <h4> Combustible: @combustible.Descripcion </h4>
        <h4> Traccion: @traccion.Descripcion </h4>
        <br />
        <h4> Numero de Puertas: @puertas.NumeroPuerta </h4>
        <h4> Precio diario: @vehiculo.Precio$</h4>
        <h4> Cantidad de dias: @((Convert.ToDateTime(fechaDev) - Convert.ToDateTime(fechaEntr)).Days)</h4>
        <br />
        <h4>Total por cantidad de días: @subtot$</h4>
        <br />
        <div style="position:relative; top:5%; left:25%;">
            @Html.ActionLink("Retroceder", "VerDisponibles", "Vehiculo", new
        {
            fechaEntr = fechaEntr,
            fechaDev = fechaDev,
        }, htmlAttributes: new { @class = "btn btn-warning btn-lg" })
        </div>
        <div style="position:relative; top:-3.5%; left:55%;">
            @Html.ActionLink("Confirmar Renta", "RegistroRenta", "Renta", new
        {
            idVehiculo = vehiculo.ID,
            fechaEntr = fechaEntr,
            fechaDev = fechaDev,
            subtotal = subtot,
        }, htmlAttributes: new { @class = "btn btn-info btn-lg" })
        </div>
    </div>
</div>
